*{
    margin: 0px;
    padding: 0px;

}


.background{

    margin: 30px auto;
    background-color: white;

  
}

body{

    background-color: black !important;
  
}

.nolist{
    margin: 0px;
    padding: 0px;
    list-style: none;
}


hr {
    width: 100%;
    border-bottom: 4px solid black;
}

#headshot {
    max-width: 125px;
    border-radius: 300px;
    
}

header {
    margin: 20px;
}

main{
    margin:30px;
}
main a{
    color: black;
}
#publications, #education {
    border-bottom: none;
}






