*{
    margin: 0px;
    padding: 0px;

}


.background{

    margin: 30px auto;
    background-color: lightgray;

  
}

body{

    background-color: black !important;
  
}

.nolist{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header{
    border-bottom: 2px solid black;
}


#headshot {
    max-width: 125px;
    border-radius: 300px;
    
}




main{
    margin:30px;
    border-bottom: 2px solid black;
}
main a{
    color: black;
}
#publications, #education {
    border-bottom: none;
}






